<section class="bg-white mt-24">
    <div class="w-full text-center">
      <h2 class="text-3xl font-bold text-gray-900 mb-4" style="font-family: 'Lora', serif;">Renata Makowska</h2>
      <p class="text-lg font-semibold text-gray-700 px-6 lg:px-0 mb-2">
        mgr położnictwa i pedagogiki specjalnej (APS)
      </p>
      <p class="text-gray-600 text-center mx-auto max-w-lg px-4 lg:px-0">
        Specjalista w dziedzinie pielęgniarstwa neonatologicznego, Certyfikowany Doradca Laktacyjny, Edukator do spraw laktacji, Terapeuta uroginekologiczny
      </p>
    </div>

</section>
