<div class="bg-white border-t-2 lg:mx-28 transition-opacity duration-1000 ease-in-out"
     [class.opacity-0]="!fadeIn"
     [class.opacity-100]="fadeIn">
  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <h2 class="text-2xl font-semibold tracking-tight text-gray-900 ">Konsultacje</h2>
    <div class="mt-6 grid grid-cols-1 gap-y-10 sm:grid-cols-3 sm:gap-x-6 sm:gap-y-8 lg:gap-x-8">
      <div class="group relative">
        <div class="h-72 w-full overflow-hidden rounded-lg group-hover:opacity-75">
          <img src="https://images.unsplash.com/photo-1444318226545-dfd6106d7ec4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJhYnl8ZW58MHx8MHx8fDA%3D"
               alt="Model wearing women&#039;s black cotton crewneck tee."
               class="h-72 w-full object-cover object-center">
        </div>
        <h3 class="mt-4 text-base font-semibold text-gray-900">
          <a routerLink="/consultdetails">
            <span class="absolute inset-0"></span>
            Pierwsza wspólna kąpiel maluszka
          </a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">200PLN</p>
      </div>

      <div class="group relative">
        <div class="h-72 w-full overflow-hidden rounded-lg group-hover:opacity-75">
          <img src="https://images.unsplash.com/photo-1491013516836-7db643ee125a?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
               alt="Model wearing women&#039;s black cotton crewneck tee."
               class="h-72 w-full object-cover object-center">
        </div>
        <h3 class="mt-4 text-base font-semibold text-gray-900">
          <a href="#">
            <span class="absolute inset-0"></span>
            Cesarska szkoła rodzenia
          </a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">200PLN</p>
      </div>

      <div class="group relative">
        <div class="h-72 w-full overflow-hidden rounded-lg group-hover:opacity-75">
          <img src="https://plus.unsplash.com/premium_photo-1676049342411-c118fe1570b2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
               alt="Model wearing women&#039;s black cotton crewneck tee."
               class="h-72 w-full object-cover object-center">
        </div>
        <h3 class="mt-4 text-base font-semibold text-gray-900">
          <a href="#">
            <span class="absolute inset-0"></span>
            Pierwsza pomoc
          </a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">200PLN</p>
      </div>

      <div class="group relative">
        <div class="h-72 w-full overflow-hidden rounded-lg group-hover:opacity-75">
          <img src="https://images.unsplash.com/photo-1444318226545-dfd6106d7ec4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJhYnl8ZW58MHx8MHx8fDA%3D"
               alt="Model wearing women&#039;s black cotton crewneck tee."
               class="h-72 w-full object-cover object-center">
        </div>
        <h3 class="mt-4 text-base font-semibold text-gray-900">
          <a href="#">
            <span class="absolute inset-0"></span>
            Pierwsza wspólna kąpiel maluszka
          </a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">200PLN</p>
      </div>

      <div class="group relative">
        <div class="h-72 w-full overflow-hidden rounded-lg group-hover:opacity-75">
          <img src="https://images.unsplash.com/photo-1491013516836-7db643ee125a?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
               alt="Model wearing women&#039;s black cotton crewneck tee."
               class="h-72 w-full object-cover object-center">
        </div>
        <h3 class="mt-4 text-base font-semibold text-gray-900">
          <a href="#">
            <span class="absolute inset-0"></span>
            Pierwsza wspólna kąpiel maluszka
          </a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">200PLN</p>
      </div>

      <div class="group relative">
        <div class="h-72 w-full overflow-hidden rounded-lg group-hover:opacity-75">
          <img src="https://images.unsplash.com/photo-1491013516836-7db643ee125a?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
               alt="Model wearing women&#039;s black cotton crewneck tee."
               class="h-72 w-full object-cover object-center">
        </div>
        <h3 class="mt-4 text-base font-semibold text-gray-900">
          <a href="#">
            <span class="absolute inset-0"></span>
            Pierwsza wspólna kąpiel maluszka
          </a>
        </h3>
        <p class="mt-1 text-sm text-gray-500">200PLN</p>
      </div>

    </div>
  </div>
</div>

