<section class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="flex flex-col pb-10 sm:pb-16 lg:pb-0 lg:pr-8 xl:pr-20">
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <span class="material-symbols-outlined">format_quote</span>
          <blockquote class="text-lg mt-4 px-6 leading-8 text-gray-900">
            <p>Położna, która prowadziła moją ciążę, była niesamowicie troskliwa i profesjonalna. Zawsze miała dla mnie
              czas, aby odpowiedzieć na wszystkie moje pytania i wyjaśnić wszelkie wątpliwości. Czułam, że jestem pod
              opieką osoby, która naprawdę rozumie, przez co przechodzę i potrafi mnie uspokoić w trudnych chwilach.
              Dzięki jej wsparciu i radom, cały proces przebiegł spokojnie i bezstresowo. Mogę szczerze powiedzieć, że
              była ogromnym wsparciem w najważniejszym momencie mojego życia.</p>
          </blockquote>
          <div class="flex items-end justify-end">
            <span class="material-symbols-outlined">format_quote</span>
          </div>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <div class="text-base">
              <div class="font-semibold text-gray-900">Joanna</div>
              <div class="mt-1 text-gray-500">Zadowolona mama 1</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div
        class="flex flex-col border-t border-gray-900/10 pt-10 sm:pt-16 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20">
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <span class="material-symbols-outlined">format_quote</span>
          <blockquote class="text-lg leading-8 px-6 text-gray-900">
            <p>Położna, która towarzyszyła mi przy porodzie, była niezwykle ciepła i empatyczna. Zawsze zachowywała
              spokój, co bardzo mi pomogło w trudniejszych momentach. Dzięki niej czułam się pewnie i bezpiecznie,
              wiedząc, że jestem w dobrych rękach. Dbała o każdy szczegół i okazywała ogromne wsparcie zarówno
              emocjonalne, jak i medyczne. Jej profesjonalizm i serdeczność sprawiły, że mogłam skupić się na sobie i
              dziecku, a poród przebiegł w spokojnej atmosferze.</p>
          </blockquote>
          <div class="flex items-end justify-end">
            <span class="material-symbols-outlined">format_quote</span>
          </div>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <div class="text-base">
              <div class="font-semibold text-gray-900">Joasia</div>
              <div class="mt-1 text-gray-500">Zadowolona mama 2</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
